
{% extends "layout.html" %}
{% block body %}


    <body>
        <h1>Patterns</h1>
        {% for pattern in patterns %}
            <a href="{{'/pattern' ~ pattern.id}}"><h2>{{pattern.name}}</h2></a>
        {% endfor %}
        {% if patterns|length == 0 %}
            <h2>No patterns</h2>
        {% endif %}
        <h2>Make New Pattern:</h2>
        <form action='/new_pattern' method="POST">
            <input type="text" name="name">
            <input type="submit">
        </form>
    </body>
{% endblock %}